* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #fafbfc;
}
.bank-container,
.export-container,
.voucher-container {
  height: 100%;
  padding: 0.6rem 0rem;
  width: 97%;
  margin: auto;
  display: grid;
  grid-template-columns: 272px 1fr;
  grid-gap: 2rem;
  font-family: "Poppins";
}
/* .voucher-container {
  display: flex;
  height: 100%;
  padding: 0.6rem 0rem;
  width: 97%;
  margin: auto;
  font-family: "Poppins";
} */
aside {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  position: relative;
  height: 100vh;
  position: sticky;
  top: 0.6rem;
  min-width: 260px;
  overflow-y: auto;
  /* background: red !important; */
}
aside::-webkit-scrollbar {
  display: none;
}
.sidebar-wrapper .image-wrapper {
  display: none;
  /* box-shadow: 0 3px 10px 0 rgb(33 108 252 / 16%); */
}
aside .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 19px 10px;
  background-color: #fff;
  margin-bottom: 15px;
  box-shadow: 0 3px 10px 0 rgb(33 108 252 / 3%);
  border: solid 1px #ffffff;
  min-height: 121px !important;
  border-radius: 15px;
}

aside .logo-wrapper img {
  width: 214px;
}
aside .logo-wrapper p {
  font-size: 30px;
  color: #021668;
  font-weight: 700;
  line-height: 0.5;
  padding-left: 5px;
}
.side-group-drop-down {
  position: relative;
}
.side-group-head {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 73px;
  padding: 0rem 2rem;
  box-shadow: 0 3px 10px 0 rgb(33 108 252 / 3%);
  border-radius: 15px;
  cursor: pointer;
}
.side-group-head .presentation {
  flex: 1;

  margin-left: 10px;
}
.side-group-head h3 {
  font-size: 16px;
  font-weight: 500;
}
.side-group-head p {
  font-size: 10px;
  font-weight: lighter;
}
.side-group-head-arrow {
  transform: rotate(180deg);
}
.side-group-head-arrow.active {
  transform: rotate(0deg);
}
.inner-setting {
  background: #fff;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  top: 115%;
  box-shadow: 0 0 10px 0 rgb(33 108 252 / 3%);
  padding: 2rem;
  display: none;
}

.inner-setting.active {
  display: block;
}
.inner-setting .top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #11193c;
}
.inner-setting .top h5 {
  font-size: 16px;
  line-height: 1.5;
  color: #11193c;
  margin-left: 5px;
  font-weight: 400;
}
.inner-setting ul {
  margin-top: 2rem;
  padding-left: 2.5rem;
}
.inner-setting ul > * + * {
  margin-top: 1rem;
}
.inner-setting ul > li a {
  opacity: 0.8;
  font-size: 13px;
  line-height: 1.53;
  color: #11193c;
}
aside nav {
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 20px;
}
aside nav > * + * {
  margin-top: 2.3rem;
}
.nav-item .item-head {
  display: flex;
  align-items: center;
}
.nav-item .item-head p {
  flex: 1;
}
.nav-item .item-head {
  cursor: pointer;
}
.nav-item ul {
  margin: 1rem 0rem;
  padding-left: 3rem;
}
.nav-item ul li {
  font-size: 14px;
  line-height: 1.5;
  color: #272727;
}
.nav-item ul > * + * {
  margin-top: 10px;
}
aside nav li a,
.nav-item .item-head p {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 1.5;
  color: #272727;
}
aside nav li a div,
.nav-item .item-head div {
  width: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
aside nav li a div img {
  width: 18px;
}
.mobile-header {
  background-color: #fff;
  height: 74px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.5rem;
  margin-bottom: 1rem;
  display: none;
  /* width: 100px; */
}
.mobile-header > img:first-child {
  width: 156px;
}
.mobile-header > img:last-child {
  cursor: pointer;
}
.sales-contact {
  display: none;
}
.sales-contact li {
  cursor: pointer;
}
.sales-contact.active {
  display: block;
}
.aside-bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.aside-bottom .profile-container,
.aside-bottom .plan {
  display: flex;
  align-items: center;
}
.aside-bottom .profile-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.aside-bottom .profile-container p {
  font-size: 13px;
  line-height: 1.5px;
  font-weight: 500;
  color: #021668;
  margin-left: 10px;
}
.aside-bottom .plan {
  justify-content: space-between;
  margin: 1rem 0rem;
}
.aside-bottom .plan p {
  color: #272727;
  font-size: 12px;
  font-weight: 500;
}
.aside-bottom .plan p span {
  color: #0077ff;

  margin-left: 3px;
}
.aside-bottom .plan button {
  background-color: #fff;
  color: #0077ff !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  box-shadow: 0 3px 10px 0 rgb(33 108 252 / 16%);
  border: solid 1px #ffffff;
  padding: 0.4rem 0.6rem;
}
.logout a {
  text-decoration: none;
  color: #272727;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 3px 10px 0 rgb(33 108 252 / 16%);
  border: solid 1px #ffffff;
  background-color: #ffffff;
  padding: 10px 18px;
  display: block;
  width: 100%;
  height: 73px;
  display: flex;
  align-items: center;
  font-weight: 500;
  border-radius: 20px;
  justify-content: flex-start;
}
.logout a img {
  width: 25px;
  height: 28px;
  margin-right: 10px;
}

@media screen and (max-width: 1100px) {
  .bank-container,
  .export-container,
  .voucher-container {
    grid-template-columns: 1fr;
    width: 92%;
    overflow: hidden;
  }

  aside .logo-wrapper img {
    width: 200px;
  }
  .table-head .col7,
  .table-body .col7 {
    justify-content: center !important;
  }
  .mobile-header {
    padding: 0px 1rem;

    height: 65px;
    box-shadow: 0 3px 10px 0 rgb(33 108 252 / 3%);
  }
  .mobile-header > img:last-child {
    width: 32px;
  }
  .mobile-header > img:first-child {
    width: 130px;
  }
}
@media screen and (max-width: 780px) {
  .sidebar-wrapper {
    position: fixed;
    z-index: 10;

    width: 80%;
    left: -100%;
    height: 100vh;
    top: 0;
    transition: 0.3s ease all;
  }
  .sidebar-wrapper::after {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

  aside {
    background-color: #fff;

    width: 100%;
    padding: 2rem 3rem;
  }

  .mobile-header {
    display: flex;
  }
  .sidebar-wrapper .image-wrapper {
    position: absolute;
    right: -50px;
    z-index: 222;
    top: 10px;
    border-radius: 99px;
    background-color: rgb(255, 255, 255);
    width: 68px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .sidebar-wrapper.active {
    left: 0%;
  }
}

@media screen and (max-width: 400px) {
  aside {
    padding: 2rem 1rem;
  }
}
