.report-shortcut {
  background-color: #fff;
  justify-content: space-between;
  padding: 1.5rem;
  margin-top: 1rem;
  box-shadow: 0 3px 10px 0 #eff0f1;
}
.report-shortcut,
.report-shortcut nav {
  display: flex;
  align-items: center;
}
.right-arrow-icon-mbl-shoutcut,
.left-arrow-icon-mbl-shoutcut {
  display: none;
}
.report-shortcut h2 {
  font-size: 22px;
  color: #11193c;
  font-weight: 500;
}
.report-shortcut nav a {
  color: #0077ff;
  font-size: 12px;
}
.report-shortcut nav li + li {
  margin-left: 1rem;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 322px;
  grid-column-gap: 1rem;
  grid-row-gap: 3rem;
  margin-top: 1rem;
}
.boxes .box {
  background-color: #fff;
  padding: 1.5rem;
  padding-bottom: 4rem;
  border-radius: 15px;
  position: relative;
  box-shadow: 7px 10px 10px #f5f7fb, -7px -7px 10px #f5f7fb;
  /* box-shadow: 0 3px 10px 0 #eff0f1; */
}
.boxes {
  margin-bottom: 2rem;
}
.boxes .box h1 {
  font-size: 25px;
  font-weight: 500;
  color: #11193c;
}
.boxes .box .presentation p {
  font-size: 15px;
  margin-top: 1rem;
  color: #11193c;
}
.boxes .box.date-box .presentation {
  height: 65%;
  overflow: hidden;
}
.boxes .box.two-input-box .presentation {
  height: 40%;
  overflow: hidden;
}
.boxes .box.two-input-box .input-wrapper {
  margin-top: 1rem;
}
.boxes .box .input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 70%;

  height: 56px;
  margin: auto;
  margin-top: 2rem;
  box-shadow: 2px 5px 10px #f5f7fb, -2px 5px 10px #f5f7fb;
  padding: 0.6rem 1rem;
  border-radius: 10px;
}
.boxes .box .input-wrapper p {
  color: #0077ff;
  font-weight: 600;
  font-size: 16px;
}
.boxes .box .input-wrapper span {
  margin-left: 5px;
  font-weight: 400;
  color: #11193c;
}

.boxes .box .button-wrapper {
  border: 10px solid #fafbfc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  border-radius: 5px;
}

.boxes .box .button-wrapper button {
  width: 228px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  background: linear-gradient(to bottom, #00d6ff, #0082ff);
  font-size: 15px;
  font-weight: 500;
}
.boxes .box .button-wrapper button img {
  margin-left: 10px;
}
@media screen and (max-width: 1000px) {
  .boxes {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .export-body-top,
  .report-shortcut {
    padding: 20px;
    height: 75px;
  }

  .report-shortcut {
    padding: 20px !important;
    border-radius: 15px;
  }
  .export-body-top .left h1 {
    font-size: 1.25rem !important;
  }
  .bank-advantages ul {
    padding-left: 0px;
  }
  .bank-advantages {
    padding: 3rem 2rem;
  }
}
@media screen and (max-width: 700px) {
  .boxes {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 650px) {
  .export-body-top {
    position: relative;
  }
  .right-arrow-icon-mbl,
  .left-arrow-icon-mbl {
    display: block;
    cursor: pointer;
  }
  .right-arrow-icon-mbl-shoutcut img,
  .left-arrow-icon-mbl-shoutcut img {
    margin-top: 6px;
  }
  .right-arrow-icon-mbl {
    flex: 1;
  }
  .export-body-top .right,
  .report-shortcut nav {
    position: absolute;
    padding: 0rem 1rem;
    z-index: 2;
    left: 100%;
    background-color: #fff;
    width: 100%;
    transition: 0.5s ease all;

    height: 100%;
  }

  .finance-dropdown-head {
    width: 100%;
    height: 60px;
  }
  .finance-dropdown-head > img:last-child {
    width: 14px;
  }
  .finance-dropdown-head h4 {
    font-size: 13px;
    margin-right: 10px;
  }
  .finance-dropdown-content li {
    font-size: 12px;
  }

  .export-body-top .right svg {
    margin-right: 20px;
    margin-left: 20px;
  }
  .report-shortcut {
    position: relative;
    overflow: hidden;
    padding: 2rem 2rem;
  }
  .report-shortcut nav {
    display: flex;
    align-items: center;
  }
  .report-shortcut nav div {
    display: block;
    flex: 1;
  }
  .right-arrow-icon-mbl-shoutcut,
  .left-arrow-icon-mbl-shoutcut {
    display: block;
  }
}
/* @media screen and (max-width: 500px) {
  .report-shortcut nav li a {
    font-size: 8px;
  }
} */
